//font asap
@font-face {
    font-family: 'Asap';
    src: url('./assets/fonts/Asap-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Asap';
    src: url('./assets/fonts/Asap-Regular.otf');
    font-weight: normal;
    font-style: normal;
}